@model CatalogScanViewModel

<a name="@Model.Type" class="anchor"></a>
<h3>@Model.Type.ToString().Humanize()</h3>
<ul class="list-unstyled">
    <li><b>Cursor value:</b> @Model.Cursor.Value.ToString("O")</li>
    <li><b>Cursor age:</b> @Model.CursorAge</li>
</ul>
<table class="table">
    <caption>Latest catalog scans</caption>
    <thead>
        <tr>
            <th>Scan ID</th>
            <th>State</th>
            <th>Min</th>
            <th>Max</th>
            <th>Runtime</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var scan in Model.LatestScans)
        {
            <tr>
                <td>@scan.ScanId</td>
                <td>@scan.ParsedState</td>
                <td>@scan.Min?.ToString("O")</td>
                <td>@scan.Max?.ToString("O")</td>
                <td>
                    @if (scan.Started.HasValue)
                    {
                        var runtime = scan.Completed.GetValueOrDefault(DateTimeOffset.UtcNow) - scan.Started.Value;
                        var runtimeStr = runtime.ToString("d\\.hh\\:mm\\:ss");
                        if (runtimeStr.StartsWith("0."))
                        {
                            runtimeStr = runtimeStr.Substring(2); 
                        }
                        <text>@runtimeStr</text>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<form asp-action="UpdateCatalogScan" method="post" class="form-inline">
    <input type="hidden" name="type" value="@Model.Type" />
    <button type="submit" name="shortTest" value="true" class="btn btn-default">Start test scan</button>
    <button type="submit" name="shortTest" value="false" class="btn btn-default">Start full scan</button>
    <div class="form-group">
        <label for="max">Custom max</label>
        <input type="text" class="form-control" name="max" id="max" value="2018-09-20T01:46:19.1755275Z">
    </div>
    <button type="submit" class="btn btn-default">Start custom scan</button>
</form>
