@model CatalogScanViewModel

<ul class="list-unstyled">
    <li><b>Cursor value:</b> @Model.Cursor.Value.ToString("O")</li>
    <li><b>Cursor age:</b> @Model.CursorAge</li>
</ul>
<table class="table">
    <caption>Latest catalog scans</caption>
    <thead>
        <tr>
            <th>Scan ID</th>
            <th>State</th>
            <th>Min</th>
            <th>Max</th>
            <th>Delta</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var scan in Model.LatestScans)
        {
            <tr>
                <td>@scan.ScanId</td>
                <td>@scan.ParsedState</td>
                <td>@scan.Min?.ToString("O")</td>
                <td>@scan.Max?.ToString("O")</td>
                <td>
                    @if (scan.Max.HasValue && scan.Min.HasValue)
                    {
                        @(scan.Max.Value - scan.Min.Value)
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<form asp-action="UpdateCatalogScan" method="post">
    <input type="hidden" name="type" value="@Model.Type" />
    <button type="submit" class="btn btn-default">Start new scan</button>
</form>
