<a name="@IdPrefix" class="anchor"></a>
<div id="@IdPrefix-accordian">
    <div class="card @BorderClass mt-3">
        <div class="card-header container-fluid">
            <div class="row">
                <div class="col">
                    <button class="btn btn-link @(Collapsed ? "collapsed" : string.Empty)" type="button" data-toggle="collapse"
                        id="@IdPrefix-heading" data-target="#@IdPrefix-content" aria-controls="@IdPrefix-content" aria-expanded="@(!Collapsed)">
                        <h4>
                            <i class="bi bi-chevron-down" aria-hidden="true"></i>
                            @Title
                        </h4>
                    </button>
                </div>
                @if (!string.IsNullOrWhiteSpace(StatusText))
                {
                    <div class="col col-auto text-left">
                        <h4 title="@StatusTitle">
                            @StatusText
                        </h4>
                    </div>
                }
            </div>
        </div>

        <div id="@IdPrefix-content" class="collapse-remember collapse @(Collapsed ? string.Empty : "show")" aria-labelledby="@IdPrefix-heading" data-parent="#@IdPrefix-accordian">
            @ChildContent
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string IdPrefix { get; set; }

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string StatusText { get; set; }

    [Parameter]
    public string StatusTitle { get; set; }

    [Parameter]
    public string BorderClass { get; set; }

    [Parameter]
    public bool Collapsed { get; set; } = true;

    [Parameter]
    public RenderFragment ChildContent { get; set; }
}
