@{
    string statusText = null;
    string statusTitle = null;
    if (Model.IsRunning)
    {
        statusText = "⏱️";
        statusTitle = "The processor is scheduled or running.";
    }
}
<CollapseCard IdPrefix="@IdPrefix" Title="@Title" StatusText="@statusText" StatusTitle="@statusTitle">
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><b>Is running?</b> @Model.IsRunning</li>
    </ul>

    <div class="card-body">
        <form action="@Url.Action(StartAction)" method="post" class="form-inline">
            <fieldset disabled="@(!Model.IsEnabled)" class="form-group">
                <button type="submit" class="btn btn-primary mr-1">Start</button>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="@IdPrefix-loop" name="loop" value="true" />
                    <label class="form-check-label" for="@IdPrefix-loop">Loop</label>
                </div>
                @if (!Model.IsEnabled)
                {
                    <b class="ml-1">⚠️ This processor is disabled due to missing configuration.</b>
                }
            </fieldset>
        </form>
    </div>
</CollapseCard>

@code {
    [Parameter]
    public string IdPrefix { get; set; }

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string StartAction { get; set; } 

    [Parameter]
    public StreamWriterUpdaterViewModel Model { get; set; }

    [Parameter]
    public IUrlHelper Url { get; set; }
}
