<CollapseCard IdPrefix="WorkerQueue" Title="Worker queue">
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><b>Total message count:</b> @(Model.ApproximateMessageCount + Model.PoisonApproximateMessageCount)</li>
        <li class="list-group-item"><b>Main - approximate message count:</b> @Model.ApproximateMessageCount</li>
        <li class="list-group-item"><b>Main - available messages:</b> @(Model.AvailableMessageCountIsExact ? string.Empty : "≥") @Model.AvailableMessageCountLowerBound</li>
        <li class="list-group-item"><b>Poison - approximate message count:</b> @Model.PoisonApproximateMessageCount</li>
        <li class="list-group-item"><b>Poison - available messages:</b> @(Model.PoisonAvailableMessageCountIsExact ? string.Empty : "≥") @Model.PoisonAvailableMessageCountLowerBound</li>
    </ul>
</CollapseCard>

@code {
    [Parameter]
    public AdminViewModel Model { get; set; }
}
